<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="login base template for ssamanes db">
    <meta name="author" content="cubiascaceres">
    <title>SSAMANES - Login</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="css/signin.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
  </head>

  <body class="text-center" style="background-image: url('images/bg.jpg');  background-size: cover";>
      {% block body %}{% endblock %}
  </body>
</html>
