{% extends 'error.base.html.twig' %}

{% block body %}
<!-----start-logo--------->
<div class="logo">
	<h1>
		<a href="#"><img src="{{ asset('images/500.png') }}" /></a>
	</h1>
	<span> 
		<img src="{{ asset('images/signal.png') }}" />
		{{ 'server.error.broken'|trans }}
	</span>
</div>
<!-----end-logo--------->
{% endblock %}